package {{ .PackageName }}

import (
	"runtime/cgo"

	{{ .LibraryPackage }}
)

// typedef void* {{ .Struct.Name }};
import "C"


func {{ .Struct.Name }}_ToHandle(pointer *libmus.{{ .Struct.Name }}) C.{{ .Struct.Name }} {
	return C.{{ .Struct.Name }}(cgo.NewHandle(pointer))
}

func {{ .Struct.Name }}_FromHandle(handle C.{{ .Struct.Name }}) *libmus.{{ .Struct.Name }} {
	return cgo.Handle(handle).Value().(*libmus.{{ .Struct.Name }})
}

{{ range .Functions -}}
{{ template "function.tmpl" . }}
{{ end -}}
