{{ if .Constructor -}}
//export {{ .FunctionName }}
func {{ .FunctionName }}() {{ .ReturnType.CType }} {
	result := libmus.{{ .FunctionName }}()
	return {{ printf .ReturnType.GoToC "result" }}
}
{{ else -}}
//export {{ .StructType.Name }}_{{ .FunctionName }}
func {{ .StructType.Name }}_{{ .FunctionName }}(h {{ .StructType.CType }}) {{ .ReturnType.CType }} {
	this := {{ printf .StructType.CToGo "h" }}
	result := this.{{ .FunctionName }}()
	return {{ printf .ReturnType.GoToC "result" }}
}
{{ end }}