---
BasedOnStyle: Chromium
AlignConsecutiveAssignments: "false"
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: "120"
FixNamespaceComments: "false"
IndentWidth: "4"
NamespaceIndentation: Inner
SortIncludes: "false"
SpaceBeforeAssignmentOperators: "true"
