---
BasedOnStyle: Chromium
AlignConsecutiveAssignments: 'false'
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: '200'
FixNamespaceComments: 'false'
IndentWidth: '4'
NamespaceIndentation: Inner
SortIncludes: 'false'
SpaceBeforeAssignmentOperators: 'true'

...
